@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  scroll-padding-top: auto;
  font-size: 18px;
}

.post-main p {
  margin: 15px 0;
}

main .button {
  background: white;  
  color: black;  
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}

main .button:hover {
  background-color: black;   
  color: white;
  text-decoration: none;
}

main .pagination.button.current {
  background-color: #333;
  border: 1px solid #333;
  color: white;
}

iframe {
  width: 100%;
}

iframe[title="YouTube video player"] {
  aspect-ratio: 16 / 9;
  height: 50vh;    
  margin: 0 auto;
}

/* custom lists */

main ul, main ol {
  margin: 30px;
}

main ul li, main ol li {
  margin-left: 15px;
}

main ul li {
  list-style-type: disc;  
}

main ul ul li {
  list-style-type: circle;
  margin-left: 15px;
}

main ol ol li {
  list-style-type: lower-alpha;
}

main ol ol ol li {
  list-style-type: lower-roman;
}
