/* 
jonobase by @jonchius
/app/globals.css
tailwind overrides and custom styles
other "stylings" exist in the app/config.tsx file under the "styling" object
*/

@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  scroll-padding-top: auto;
  font-size: 18px;
}

/* rich content */

iframe {
  width: 100%;
  margin: 30px 0;
}

iframe[title="YouTube video player"] {
  aspect-ratio: 16 / 9;
  height: 50vh;      
}

.codepen-container iframe {
  height: 500px;
}

/* syntax highlighting */

code {
  background: #999;  
  color: #333;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 2px 5px;
}

pre code {
  background: inherit;
  border: 0;
  padding: 0;
  line-height: 1.5 !important;
  font-size: 12px !important;
}

@media (min-width: 768px) {
  pre code {    
    font-size: 16px !important;
  }
}

/* custom pagination buttons */

main .button {
  background: white;  
  color: black;  
  display: inline-block;
  border: 1px solid black;
  margin: 0;
  padding: 0.5rem 1.25rem;
  cursor: pointer;
}

main .button:hover {
  background-color: black;   
  color: white;
  text-decoration: none;
}

main .pagination.button.current {
  background-color: #333;
  border: 1px solid #333;
  color: white;
}

/* custom lists */

main ul, main ol {
  margin: 15px;
}

main ul li, main ol li {  
  margin-left: 7.5px;
}

main ul li {
  list-style-type: disc;  
}

main ul ul li {
  list-style-type: circle;
  margin-left: 7.5px;
}

main ol ol li {
  list-style-type: lower-alpha;
}

main ol ol ol li {
  list-style-type: lower-roman;
}

main img {
  margin: 15px 0;
  border: 1px solid #666;
}

/* custom heading spacing */

.post-main h2:not(:nth-child(1)) {
  margin-top: 60px;
}

.post-main h3 {
  margin-top: 30px;
}

.post-main {
  line-height: 2;
}

/* assorted custom styling */

blockquote {
  margin: 30px;
  border-left: 6px solid #bbb;
  padding-left: 30px;
}